<article class="item-listing">
  <h1><%= item.name %> </h1>
  <img src="<%= item.photo_url %>">
  <div class="item-info">
    <li> <%= item.description %> </li>
    <li>$ <%= item.price %> </li>
    <% if (item.sold) { %>
    <li>SOLD</li>
    <% } else { %>
    <li>AVAILABLE</li>
    <% } %>
  </div>
  <div class="item-actions">
    <% if (userID == item.user_id) { %>
      <form method="GET" action="/items/<%= item.id %>"><button type="submit">Edit</button></form>
      <% } %>
    <form method="POST" action="/favorites/<%= item.id %>" id="fav-button"><button>Favorite</button></form>
    <form method="GET" action="/messages/<%= item.user_id%>"><button type="submit">Send new message</button></form>
  </div>
</article>
