<article class="item-listing">
  <h1><%= item.name %> </h1>
  <img class="product-image" src="<%= item.photo_url %>">
  <div>
    <li><%= item.description %> </li>
    <li>$ <%= item.price %> </li>
    <li><%= item.sold %></li>
  </div>
</article>
