<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Items Display Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>

    <form action="/api/items/<%=id%>" method="POST">
      <div>
        <label>Edit your Post</label>
        <input type="text" name="item name" placeholder="item name">
        <input type="text" name="description" placeholder="description">
        <input type="text" name="price" placeholder="price">
        <input type="text" name="photo_url" placeholder="photo_url">
        <input type="radio" name="sold">
        <button type="submit">Submit Edit</button>
      </div>
    </form>

    <section class="items-display">

    <article class="item-listing">
      <h1>Item ID: <%= items.id %> </h1>
      <h1><%= items.name %> </h1>
      <img src="<%= items.photo_url %>">
      <div>
        <li><%= items.description %> </li>
        <li>$ <%= items.price %> </li>
        <li><%= items.sold %></li>
      </div>
      <button href="/itemUpdate">EDIT</button>
    </article>

    </section>

  </body>
