
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Items Display Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include('partials/_nav') %>

    <section class="items-display">


  <article class="item-listing">
    <h1>Item ID: <%= item.id %> </h1>
    <h1><%= item.name %> </h1>
    <img src="<%= item.photo_url %>">
    <div class="item-info">
      <li><%= item.description %> </li>
      <li>$ <%= item.price %> </li>
      <li><%= item.sold %></li>
    </div>

    <form action="/items/<%= item.id %>" method="POST">
      <div>
        <label>Edit your Post</label>
        <input type="text" name="item name" placeholder="item name">
        <input type="text" name="description" placeholder="description">
        <input type="text" name="price" placeholder="price">
        <input type="text" name="photo_url" placeholder="photo_url">
        <input type="radio" name="sold">
        <button type="submit" id="b1">Submit Edit</button>
      </div>
    </form>


    </section>

  </body>


  <!-- <body>
    <header><%- include('partials/_header') %></header>
    <div class="card text-center">
      <div class="card-header"></div>
      <div class="card-body">
        <h5 class="card-title">TinyUrl for: <%= longURL %></h5>
        <p class="card-text">ShortURL: <a href="/u/<%= shortURL %>"><%= shortURL %></a></p>
      </div>
      <div class="card-footer text-muted">
      <form action="/urls/<%= shortURL %>" method="POST">
        <div>
         <label for="edit">Edit</label>
        </div>
        <p>
        <label for="newURL">New URL: <input class="form-control" type="text" id="edit" placeholder="http://" name="longURL">
        <button class="btn btn-primary" type="submit">Update</button>
        </label>
      </p>
      </div>
    </div> -->
